body{
    margin: 0px;
    padding: 0px;
    height:100%;
    width: 100%;
    background: #F0F0F0;
}
ul{
    list-style: none;
    margin: 0px;
    padding: 0px;
}
a{
    color: #050407;
    list-style: none;
    text-decoration:none;
}
a:hover{
    color: #313cff;
    list-style: none;
    text-decoration:none
}
.top-cm{
    background: #2d59df;
    text-align: center;
    font-size: 15px;
    color: azure;
    line-height: 30px;
    height: 30px;
}
.top{
    width: 100%;
    background: #4870E3;
    overflow:hidden;
    color: #f0ffff;
    text-align: center;
    margin: 0px 0px 20px 0px;
    padding: 0px;
}
.top img{
    width: 40%;
}
.zhxx{
    float: left;
    width: 50%;
    line-height: 80px;
}
.jinbi{
    float: left;
    width: 50%;
    font-size: 20px;
    text-align: center;
    line-height: 160px;
}
.cztx{
    margin: 20px 0px;
}
.cztx img{
    margin-right: 20px;
}
.cztx li{
    width: 100%;
    height: 50px;
    line-height: 25px;
    padding: 10px 0px 0px 10px;
    margin: 10px 0px;
    background-color: #ffffff;
}

.cztx input{
    width: 70%;
    line-height: 20px;
    text-align: center;
    position:absolute;
    left: 25%;
}
.cztx span{
    position:absolute;
    left: 30%;
}
.cztx button{
    position:fixed;
    right: 10%;
}

.but{
    width: 90%;
    margin: 10px 5%;

}
.btn-group{
    width: 100%;
}
.btn-group .btn{
    width: 50%;
}
.zf{
    background-color: #4870E3;
    color: azure;
}
.wy{
    background-color:#f0ffff;
    color: #050407;
}

.ts{
    text-align: center;
    margin: 50px 0px;
}
.cx{
    width: 40%;
    margin: 0px 30%;
}

.foot{
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0px;
    line-height: 30px;
    background-color: azure;
}
.foot ul{
    margin: 0px;
}
.foot img{
    width: 30%;
}
