.jcls{
    text-align: center;
    font-size: 20px;
    border: 1px solid;
    line-height: 30px;
}



table{
    width: 95%;
    margin: 20px 2%;
    padding: 0px;
    border-radius:25px;overflow:hidden;
    border:1px solid;
}

table tr td:first-child,
table tr td:nth-child(2),
table tr td:nth-child(3),
table tr td:last-child{/*设置table表格每列底部边框*/
    border-bottom: 2px solid #eaeaea;
}

table tr{
    text-align: center;
}
table td{
    width: 25%;
    line-height: 30px;
}
.sj{

}



